* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: 'Open Sans', sans-serif;
    outline: 0
}

body {
    background: #282b2d;
    font-family: 'Open Sans', sans-serif
}

.access-form {
    text-align: center;
    padding-top: 5%
}

.access-form img {
    margin: auto;
    height: 200px
}

.access-form form {
    display: block;
    padding-top: 50px;
    text-align: left;
    width: 400px;
    margin: auto;
}

.access-form form h2 {
    color: silver;
    margin: 0;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 12px
}

.access-form form input, .access-form form textarea {
    width: 100%;
    display: block;
    width: 100%;
    max-width: 100%;
    padding: 12px;
    border-radius: 4px;
    border: 0 solid #f2f2f2;
    background-color: #f8f8f8;
    color: #767676;
    font-size: 14px;
    line-height: 19px;
    box-shadow: none;
    transition: all .6s cubic-bezier(.165, .84, .44, 1);
    margin-bottom: 20px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24)
}

.access-form form button {
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
    margin-right: 5px;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 3px;
    white-space: nowrap;
    padding: 14px 20px;
    line-height: 16px;
    transition: all .6s cubic-bezier(.165, .84, .44, 1);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    width: 48%;
    margin-right: -4px;
    background-color: #303F9F;
    color: silver;
    font-size: 12px;
    font-weight: 700;
    transition: all .2s ease;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24)
}

.access-form form button:hover {
    background: #4150b0;
}

.access-form form .message {
    font-size: 10px;
    text-decoration: none;
    color: silver;
    text-align: left;
    margin-top: 10px;
    display: block;
    opacity: .8
}

.access-form form .message:hover {
    opacity: 1
}

.access-form form .flash {
    font-size: 12px;
    color: #f33b3b;
    margin-bottom: 10px
}

.access-form form .flash.info {
    color: #0fab30;
}

.login form button, .register form button {
    width: 100%
}

