.column {
    float: left;
    padding: 15px;

}

.cards {
    max-height: 80vh;
}

.secondary-toolbar
{
    background: #607D8B;
    color: #FFFFFF;
    font-size: 50px;
    text-align:center
}

.button-style
{
    background: #303F9F;
    color: #FFFFFF;
    text-align: center;
    padding: 20px;
}

.example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
}

.mat-table {
    overflow: auto;
}

.red-icons {
    color: rgba(210, 21, 21, 0.54); 
}

.blue-icons {
    color: rgba(21, 21, 210, 0.54); 
}

.mat-row:hover
{
    cursor: pointer;
    font-weight: bold;
}
