<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <md-toolbar class="toolbar-style mat-elevation-z10">Don't Panic Educational Suite</md-toolbar>
</div>

  <div class="column"></div>
  <div class="column">
    <div class="row-center">
      <div class="row"></div>
      <button class="button-style" md-raised-button>Basic</button>
      <button class="button-style" md-raised-button >Primary</button>
      <button class="button-style" md-raised-button>Accent</button>
    </div>
    <div class="row"></div>
  </div>
  <div class="column"></div>

<!-- <div class="button-row">
  
  <button md-button >Warn</button>
  <button md-button disabled>Disabled</button>
</div> -->

<!-- <h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" href="https://angular.io/tutorial"><button md-raised-button color="primary">Tour of Heroes</button></a></h2>
  </li>
  <li>
    <h2><a target="_blank" href="https://github.com/angular/angular-cli/wiki"><button md-raised-button color="warn">CLI Documentation</button></a></h2>
  </li>
  <li>
    <h2><a target="_blank" href="https://blog.angular.io/"><button md-raised-button disabled>Angular blog</button></a></h2>
  </li>
</ul> -->

