.dark-primary-color    { background: #303F9F; }
.default-primary-color { background: #3F51B5; }
.light-primary-color   { background: #C5CAE9; }
.text-primary-color    { color: #FFFFFF; }
.accent-color          { background: #607D8B; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #757575; }
.divider-color         { border-color: #BDBDBD; }

.toolbar-style
{
    background-color: #303F9F;
    color: #FFFFFF;
    font-size: 50px;

}

.example-button-row {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .column {
    float: left;
    width: 30%;
    padding: 15px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
    height: 25vh;
}

.row-center{
    display: block;
    margin: auto;
    width: 50%;
}

.button-style
{
    background: #3F51B5;
    color: #FFFFFF;
    font-size: 3vw;
    text-align: center;
    padding: 15px;
    width: 100%;
}

