<mat-sidenav-container class="sidenav-container" [style.marginTop.px]="0">
    <mat-sidenav #snav [mode]="'side'" [fixedInViewport]="true" fixedTopGap="0" opened="false" disableClose="false" class="user-sidenav">
        <mat-nav-list class="sidenav-list">
            <a mat-list-item class="sidenav-list-item" (click)="snav.toggle()"><i class="material-icons">menu</i></a>
            <a mat-list-item class="sidenav-list-item" routerLink='/user-console'>View Classes</a>
            <a *ngIf="IsTeacher" mat-list-item class="sidenav-list-item" (click)="navigateTo('set-topics',currentClassroomId)">Update Topics</a>
            <a *ngIf="IsTeacherOrTA" mat-list-item class="sidenav-list-item" ngxClipboard [cbContent]="studentInvite">Copy Student Invite Link</a>
            <a *ngIf="IsTeacher" mat-list-item class="sidenav-list-item" ngxClipboard [cbContent]="taInvite">Copy TA Invite Link</a>
            <a *ngIf="IsTeacher" mat-list-item class="sidenav-list-item" ngxClipboard [cbContent]="teacherInvite">Copy Teacher Invite Link</a>                
            <a *ngIf="IsTeacher" mat-list-item class="sidenav-list-item" (click)="RotateCodes()">New Invite Codes</a>
            <a *ngIf="IsTeacher" mat-list-item class="sidenav-list-item" (click)="navigateTo('manage-members', currentClassroomId)">Manage Members</a>
            <p mat-list-item class="sidenav-list-item"></p>
            <a mat-list-item class="sidenav-list-item" href="/logout">Logout <i class="material-icons">exit_to_app</i></a>
        </mat-nav-list>
    </mat-sidenav>
</mat-sidenav-container>
<body>
    <!-- <md-toolbar class="mat-elevation-z10" style="background-color: #303F9F; color: #FFFFFF;font-size: 50px; text-align:center">
        {{classHubTitle}}</md-toolbar> -->
    <div class="row">
        <mat-card class="title-card">
            <mat-card-content class="title-card-content">
                <div class="title-section">
                    <button mat-icon-button (click)="snav.toggle()"><i class="material-icons">menu</i></button>
                </div>
                <div class="title-section">
                    <div *ngIf="IsTeacher">
                        <button class="button-style" *ngIf="!firstTopic" mat-button mat-button-raised (click)="PreviousTopic()">
                            <i class="material-icons">keyboard_arrow_left</i>
                        </button>
                        <button class="inactive-button-style" *ngIf="firstTopic" mat-button mat-button-raised disabled (click)="PreviousTopic()">
                            <i class="material-icons">keyboard_arrow_left</i>
                        </button>
                    </div>
                </div>
                <div class="title-section" id="topic-section">
                    <div>
                        <h1>{{currentTopic}}</h1>
                    </div>
                </div>
                <div class="title-section">
                    <div *ngIf="IsTeacher">
                        <button class="button-style" *ngIf="!lastTopic" mat-button mat-button-raised (click)="NextTopic()">
                            <i class="material-icons">keyboard_arrow_right</i>
                        </button>
                        <button class="inactive-button-style" *ngIf="lastTopic" mat-button mat-button-raised disabled (click)="NextTopic()">
                            <i class="material-icons">keyboard_arrow_right</i>
                        </button>
                    </div>
                </div>
                <div class="title-section">
                    {{classroom.courseTitle}}<br/>
                    {{courseInfo}}<br/>
                    {{classroom.sectionNumber}}<br/>
                    {{classroom.schoolName}}
                </div>
                <!-- <div class="title-section">
                    <div *ngIf="IsTeacher">
                        <button class="button-style" mat-button mat-button-raised [matMenuTriggerFor]="menu">Teacher Tools</button>
                        <mat-menu #menu="matMenu">
                            
                        </mat-menu>                            
                    </div>
                </div> -->
            </mat-card-content>
        </mat-card>
    </div>

    <div class="row class-flex-container">
        <div class="column1">
            <mat-card class="main-card">
                <mat-card-content>
                    <!-- <div style="text-align:center" *ngIf="IsStudent">
                        <button mat-button *ngIf="!isPanic" (click)=Panic() style="text-align:center">
                            <i class="material-icons icon-size">radio_button_unchecked</i>
                        </button>
                        <button mat-button *ngIf="isPanic" (click)=Panic() style="text-align:center">
                            <i class="material-icons red-color icon-size">radio_button_checked</i>
                        </button>
                    </div>
                    <div class="green"> {{numberPanic}} Panicked</div>
                    <div class="green"> {{percentPanicked}} Percent Panicked</div> -->
                    <div class="centered-div" >
                        <canvas #panicButton id="panic-button"
                            baseChart
                            [chartType]="'doughnut'"
                            [datasets]="panicChartDatasets"
                            [labels]="panicChartLabels"
                            [options]="panicChartOptions"
                            [legend]="true"
                            (chartClick)="Panic()">
                        </canvas>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="column2">
            <div>
                <mat-card class="qa-card" *ngIf="showChart">
                    <button class="button-style" *ngIf="showChart" mat-button mat-button-raised (click)=ToggleChart()>Hide Chart</button>
                    <div>
                        <canvas
                            baseChart
                            [chartType]="'line'"
                            [datasets]="chartData"
                            [labels]="chartLabels"
                            [options]="chartOptions"
                            [legend]="true"
                            (chartClick)="onChartClick($event)">
                        </canvas>
                    </div>
                    <button mat-button (click)="ChangeData()" style="text-align:center">Test Data Change</button>
                </mat-card>
                <mat-card class="qa-card">
                    <mat-card-header>
                        <mat-card-title>Welcome to {{classroom.courseTitle}}!</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        If you have any questions please submit them here
                        <br/>
                        <mat-form-field required class="useful-text-input" *ngIf="!isQuestionAsked">
                            <input type="text" [(ngModel)]="newQuestion" matInput placeholder="Ask a Question" />
                        </mat-form-field>
                    </mat-card-content>
                    <mat-card-actions>
                        <button class="button-style" mat-button mat-button-raised (click)=NewQuestion()>Ask Question</button>
                        <button class="button-style" *ngIf="!showChart" mat-button mat-button-raised (click)=ToggleChart()>Show Chart</button>
                        <button class="button-style" *ngIf="showChart" mat-button mat-button-raised (click)=ToggleChart()>Hide Chart</button>
                    </mat-card-actions>
                </mat-card>

                <div *ngFor="let question of classroom.questions">
                    <mat-card class="qa-card question-card">
                        <mat-card-content>
                            <div class="qa-flex-container">
                                <div class="qa-vote-box">
                                    <!-- Vote for questions -->
                                    <button class="round-button-style" *ngIf="IsStudent && !question.voted" mat-button (click)="VoteForQuestion(question._id,true)">
                                        {{question.votes.length}}<i class="material-icons">keyboard_arrow_up</i>
                                    </button>
                                    <button class="button-style" *ngIf="IsStudent && question.voted" mat-fab  (click)="VoteForQuestion(question._id,false)">
                                        {{question.votes.length}}<i class="material-icons">keyboard_arrow_down</i>
                                    </button>
                                </div>
                                <div class="qa-flex-box qa-flex-container">
                                    <div style="flex-grow:1">
                                        {{question.question}}
                                        <br/>
                                        <mat-form-field class="useful-text-input">
                                            <input type="text" [(ngModel)]="questionAnswers[question._id]" matInput placeholder="Answer..." />
                                        </mat-form-field>
                                        <!-- Reply to questions -->
                                        <button class="button-style" mat-button mat-button-raised (click)=ReplyToQuestion(question._id)>Reply</button>
                                    </div>
                                </div>
                                <div class="more-actions-box">
                                    <!-- Show/Hide answers to questions -->
                                    <button class="button-style" *ngIf="showAnswers.get(question._id) && question.answers.length > 0" mat-fab (click)="setAnswersViewableFor(question._id,false)">
                                        <i class="material-icons">keyboard_arrow_up</i>
                                    </button>
                                    <button class="button-style" *ngIf="!showAnswers.get(question._id) && question.answers.length > 0" mat-fab (click)="setAnswersViewableFor(question._id,true)">
                                        <i class="material-icons">keyboard_arrow_down</i>
                                    </button>
                                </div>
                            </div>
                        </mat-card-content>
                    </mat-card>
                    <div *ngIf="showAnswers.get(question._id)">
                        <div *ngFor="let answer of question.answers">
                            <mat-card class="qa-card answer-card">
                                <mat-card-content>
                                    <div class="a-flex-container">
                                        <div class="qa-vote-box">
                                            <!-- Marked as resolution tag -->
                                            <button class="resolution-style" *ngIf="answer.isResolution" mat-fab>
                                                <i class="material-icons">check</i>
                                            </button>
                                            <!-- Vote for answers as a student -->
                                            <button class="round-button-style" *ngIf="IsStudent && !answer.voted" mat-button (click)="VoteForAnswer(question._id,answer._id,true)">
                                                {{answer.votes.length}}<i class="material-icons">keyboard_arrow_up</i>
                                            </button>
                                            <button class="button-style" *ngIf="IsStudent && answer.voted" mat-fab (click)="VoteForAnswer(question._id,answer._id,false)">
                                                {{answer.votes.length}}<i class="material-icons">keyboard_arrow_down</i>
                                            </button>
                                            <!-- Show vote count for teacher/TA -->
                                            <button class="vote-count-style" *ngIf="['teacher','teacherAssistant'].indexOf(classroom.role)>-1" mat-fab>
                                                {{answer.votes.length}}
                                            </button>
                                        </div>
                                        <div class="qa-flex-box qa-flex-container">
                                            {{answer.answer}}
                                        </div>
                                        <div class="more-actions-box">
                                            <!-- Mark/Unmark answers as resolved -->
                                            <button *ngIf="['teacher','teacherAssistant'].indexOf(classroom.role)>-1 && !answer.isResolution" mat-button (click)="VoteForAnswer(question._id,answer._id,true)">
                                                <i class="material-icons">keyboard_arrow_up</i> Mark Resolution
                                            </button>
                                            <button class="button-style" *ngIf="['teacher','teacherAssistant'].indexOf(classroom.role)>-1 && answer.isResolution" mat-button (click)="VoteForAnswer(question._id,answer._id,false)">
                                                <i class="material-icons">keyboard_arrow_down</i> Unmark Resolution
                                            </button>
                                        </div>
                                    </div>                                    
                                </mat-card-content>
                            </mat-card>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
