.white-color{
    color: white;
}

.icon-size{
    margin:auto;
    font-size: 200px;
    text-align: center;
}

.font-size{
    font-size: 30px;
}

.green{
    color: green;
    font-size: 30px;
    text-align: center;
}

.red-color
{
    color: red;
}

.column1 {
    float: left;
    width: 30%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
}

.column2 {
    float: left;
    width: 68%;
    height: 90vh; /* Should be removed. Only for demonstration */
    background-color: #282b2d;
    overflow-y: auto;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.input-style
{
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
}

.qa-card {
    width: 50vw;
    margin-top: 10px;
    margin-bottom: 10px;
}

.answer-card {
    margin-left: 40px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

tr:nth-child(odd) {
    background-color: #8a8989;
}

body {
    background-color: #282b2d;
    height: 100vh;
}
.button-style{
    color: white;
    background-color:#303F9F
}
