<body class="background-image">
    <div class="column-spacer"></div>
    <div class="column">
        <div class="row-center">
            <div class="row"></div>
            <md-card class="mat-elevation-z10 card-style">
                <!-- <div *ngIf="!badLogin">Login Failed</div> -->
                <md-card-title>
                    <h2>Welcome Back</h2>
                </md-card-title>
                <div>
                    <button mat-button class="button-style" *ngIf="flag" mat-raised-button routerLink="/user-console">
                        Login Successful</button>
                    <md-card-content *ngIf="!flag">
                        <mat-form-field class="input-style">
                            <input type="email" [(ngModel)]="userName" matInput placeholder="Email" />
                        </mat-form-field>
                        <mat-form-field class="input-style">
                            <input type="password" [(ngModel)]="password" matInput placeholder="Password" />
                        </mat-form-field>
                    </md-card-content>
                </div>
                <md-card-actions *ngIf="!flag">
                    <!-- <button md-button class="button-style" md-raised-button routerLink="/user-console">Login</button> -->
                    <button mat-button class="button-style" mat-raised-button (click)=TryLogin()>Login</button>
                    <button mat-button class="button-style" mat-raised-button routerLink="/home" routerLinkActive="active">Go Back</button>
                </md-card-actions>
            </md-card>
        </div>
        <div class="row"></div>
    </div>
    <div class="column-spacer"></div>
</body>