<!-- Header -->
<header class="masthead">
  <div class="container">
    <div class="intro-text">
      <div class="intro-heading text-uppercase">Don't Panic</div>
      <div class="intro-lead-in">Educational Suite</div>
      <a class="btn btn-primary btn-xl text-uppercase" href="/login">Log In</a>
    </div>
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <p class="large text-muted">Preventing panic attacks since 2017</p>
      </div>
    </div>
  </div>
</header>

<!-- Team -->
<section class="bg-light" id="team">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">Meet the Don't Panic team</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="team-member">
          <a href="https://dyladan.me/">
            <img class="mx-auto rounded-circle" src="/assets/images/dan.png" alt="">
          </a>
          <h4>Daniel Dyla</h4>
          <p class="text-muted">Lead Developer</p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="team-member">
          <a href="https://tom.carrio.me/">
            <img class="mx-auto rounded-circle" src="/assets/images/tom.jpg" alt="">
          </a>
          <h4>Tom Carrio</h4>
          <p class="text-muted">DevOps Engineer</p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="team-member">
          <a href="https://github.com/Chase699">
            <img class="mx-auto rounded-circle" src="/assets/images/chase.png" alt="">
          </a>
          <h4>Chase Ehlert</h4>
          <p class="text-muted">Android Developer</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="team-member">
          <a href="https://github.com/Pain-OnLi">
            <img class="mx-auto rounded-circle" src="/assets/images/matt.jpg" alt="">
          </a>
          <h4>Matt Li</h4>
          <p class="text-muted">Web Developer</p>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="team-member">
          <a href="https://github.com/zvum">
            <img class="mx-auto rounded-circle" src="/assets/images/brandon.jpg" alt="">
          </a>
          <h4>Brandon Smith</h4>
          <p class="text-muted">Developer</p>
        </div>
      </div>
  </div>
</section>
