.image
{
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    Height: 1vh;
    display: block;
    margin: auto;
    width: 45%;
    background-image: url("./AboutUs.png");
    
}