<body class="background-image">
        <md-card class="card-style scroll-card-80" >
            <div *ngIf="isCreated">
                 <button mat-button class="button-style" mat-raised-button routerLink="/user-console" routerLinkActive="active">
                     Class Created - Go To User Controls</button>
            </div>
            <div *ngIf="!isCreated">
                 <md-card-title class="input-style">
                     <h2>Create a Class</h2>
                 </md-card-title>
                 <div>
                 <md-card-content>
                        <mat-form-field class="input-style">
                            <input type="text" [(ngModel)]="courseTitle" matInput placeholder="Course Title *" />
                        </mat-form-field>
                        <mat-form-field class="input-style">
                            <input type="text" [(ngModel)]="courseType" matInput placeholder="Course Type" />
                        </mat-form-field>
                        <mat-form-field class="input-style">
                            <input type="text" [(ngModel)]="courseNumber" matInput placeholder="Course Number" />
                        </mat-form-field>
                        <mat-form-field class="input-style">
                            <input type="text" [(ngModel)]="sectionNumber" matInput placeholder="Section Number" />
                        </mat-form-field>
                        <mat-form-field class="input-style">
                            <input type="text" matInput placeholder="School (type to search)" [(ngModel)]="schoolName" #searchBox id="search-box" (keyup)="search(searchBox.value)" />
                        </mat-form-field>
                        <!-- Following section is the search results -->
                        <div [hidden]="!searching">
                            <mat-list>
                                <mat-list-item class="search-result" *ngFor="let school of schools$ | async" >
                                    <a (click)="setSchoolAndHide(school)">
                                    {{school.name}}
                                    </a><br/>
                                </mat-list-item>
                            </mat-list>
                        </div>
                 </md-card-content>
             </div>
                 <md-card-actions>
                     <button mat-button class="button-style" (click)=Create() mat-raised-button>Register</button>
                     <button mat-button class="button-style" mat-raised-button routerLink="/user-console" routerLinkActive="active">Back</button>
                 </md-card-actions>
             </div>
             <div>
                <p class="hint">*: Required field</p>
             </div>
             </md-card>
     </body>